body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.image-gallery-description {
    right: 0;
    left: 0;
    bottom: 0 !important;
    margin: 0 auto;
    line-height: 1.4 !important;
    background: rgb(0 0 0 / 0.8) !important;
}

@media (max-width: 600px) {
    .image-gallery-description {
        display: none;
    }
    .image-gallery-fullscreen-button {
        display: none;
    }

    .image-gallery-content.left .image-gallery-slide .image-gallery-image,
    .image-gallery-content.right .image-gallery-slide .image-gallery-image {
        width: 70vw !important;
        height: 40vh !important;
    }
}


@media (max-width: 450px) {
    .image-gallery-content.left .image-gallery-slide .image-gallery-image,
    .image-gallery-content.right .image-gallery-slide .image-gallery-image {
        width: 50vw !important;
        height: 20vh !important;
    }
}


@media (min-width: 1200px) {
    .image-gallery-content.left .image-gallery-slide .image-gallery-image,
    .image-gallery-content.right .image-gallery-slide .image-gallery-image {
        object-fit: contain !important;
    }
}



.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
    height: 70vh;
    overflow: hidden;
    object-fit: cover;
    transition: height 0.5s ease-out;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh !important;
    height: auto !important;
    width: 100% !important;
}