body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.image-gallery-description {
    right: 0;
    left: 0;
    bottom: 0 !important;
    margin: 0 auto;
    line-height: 1.4 !important;
    background: rgb(0 0 0 / 0.8) !important;
}

@media (max-width: 600px) {
    .image-gallery-description {
        display: none;
    }
}
